<!DOCTYPE html>
<html>
  <head>
    <title>Blaster</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <section class="top-bar">
      <section class="container">

        <nav>
        <ul>
          <li><a href="#">#</a></li>
          <li><%= link_to "Pages", admin_pages_path %></a></li>
        </ul>
        </nav>

      </section>
    </section>

    <section class="container">
      <section class="content">

        <%= yield %>

      </section>
    </section>
  </body>
</html>
